.weather {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 200px;
    padding: 10px;
}
.dayview{
    display: inline-block;
}
.weekday {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}
img {
    position: relative;
    left: 50px;
    
}

.tempHigh {
    display: inline-block;
  width: 50px;
  margin-left:50px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
 
}

.tempLow {
    display: inline;
    position: relative;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#button {
    height: 30px;
    background: rgb(66, 152, 163);
    border-radius: 10px;
    color: white;
    font-family: inherit;
}


